# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Entornos
.env
venv/
.venv/

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log